* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: white;
    
}
img {
    width: 500px;
}
body {
    position: relative;
    background-color: #182a47;
    backdrop-filter: blur(10px);
    height: 100vh;
}


.main-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100vw;
    background: linear-gradient(to bottom, #413541, #243352);
}

.main-header a {
    text-decoration: none;
}

.search-nav {
    border: solid 1px;
    padding: 6px;
    border-radius: 9px;
    background-color: rgb(236, 232, 232);
    color: black;
}
.search-nav input {
    all: unset;
}
.search-button {
    border: none;
    background-color: rgb(236, 232, 232);
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.navbar ul{
    list-style-type: none;
    display: flex;
}
.navbar ul li {
    padding: 0 10px 0 10px;
}
.navbar li a {
    text-decoration: none;
    transition: .1s;
}

.navbar li a:hover {
    color: rgb(133, 133, 238);
}

.search-box {
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}


span {
    color: rgb(133, 133, 238);
    font-weight: bolder;
}

.title {
    color: azure;
    font-weight: 200;
    font-size: 30px;
}

.movie-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.movie-show-1 {
    width: 52vw;
    height: 58vh;
    z-index: 1;
}


/* about */

.about {
    margin: 40px 0 20px 0;
    padding: 10px;
    text-align: center;
}

.title-about {
    font-size: 30px;
    margin: 20px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.p-about {
    font-size: 18px;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    width: 20vw;
}


footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100vw;
    background: linear-gradient(to bottom, #1b191b, #1e2b46);
}



