<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSIDE OUT!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="main-header">
        <a href="/"><h1 class="title"><span>INSIDE</span> OUT<span>!</span></h1></a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="#">Search <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about">
            <div class="title-about">
                <h2>About</h2>
            </div>
            <div class="p-about">
                <p>
                    Watch all the movies and series you want completely <span>FREE</span>! without any cost. We have more than +1000 movies and series for you to enjoy.
                </p>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer-about">
            <p>©2023 Inside Out!. All rights Reserved.</p>
        </section>
    </footer>
</body>
</html>