<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSIDE OUT!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="main-header">
        <a href="/"><h1 class="title"><span>INSIDE</span> OUT<span>!</span></h1></a>
        <nav class="navbar">
            <ul>
                <li>
                    <a class="home-box" href="/">Home</a>
                </li>
                <li>
                    <a class="about-box" href="/about">About</a>
                </li>
                <li>
                    <a class="search-box" href="#">Search <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="new-movies">
            <h2 class="new-movies-center">
                New Movies
            </h2>
            <article class="shazam">
                <a href="#"><img src="/img/shazam-new-movies.jpg" alt="shazam"></a>
            </article>
            <article class="guardians">
                <a href="#"><img src="Caratula-BSO-Guardians-of-the-Galaxy-Vol-3-John-Murphy.jpeg" alt=""></a>
            </article>
        </section>
    </main>
    <footer>
        <section class="footer-about">
            <p>©2023 Inside Out!. All rights Reserved.</p>
        </section>
    </footer>
</body>
</html>