<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outside In!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="main-header">
        <a href="/"><h1 class="title"><span>OUTSIDE</span> IN<span>!</span></h1></a>
        <nav class="navbar">
            <ul>
                <li>
                    <a class="home-box" href="/">Home</a>
                </li>
                <li>
                    <a class="about-box" href="/about">About</a>
                </li>
            </ul>
        </nav>
        <div class="search-nav">
            <form action="/about">
                <input type="search" name="search" placeholder="Search.." required><button class="search-button" type="submit" name="search-button"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></button></a>
            </form>
        </div>
    </header>
    <main>
        <section class="new-movies">
            <article class="shazam">
                <a href="#"><img src="/img/shazam-new-movies.jpg" alt="shazam"></a>
            </article>
            <article class="guardians">
                <a href="#"><img src="Caratula-BSO-Guardians-of-the-Galaxy-Vol-3-John-Murphy.jpeg" alt=""></a>
            </article>
        </section>
        <section class="popular">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam molestias odit laborum non aperiam dolorem cupiditate a, quod esse repellat consequatur commodi quaerat, totam itaque in ad natus! Labore, amet.</p>
        </section>
    </main>
</body>
</html>